<app-ask-view>
  <mat-icon viewHeaderIcon>home</mat-icon>
  <span viewHeaderTitle>Header Component</span>
  <span viewHeaderSubtitle>Application header component</span>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header>
        <h1>Header H1</h1>
      </app-ask-header>
      <app-ask-header>
        <h2>Header H2</h2>
      </app-ask-header>
      <app-ask-header>
        <h3>Header H3</h3>
      </app-ask-header>
      <app-ask-header>
        <h4>Header H4</h4>
      </app-ask-header>
      <app-ask-header>
        <h5>Header H5</h5>
      </app-ask-header>
      <app-ask-header>
        <h6>Header H6</h6>
      </app-ask-header>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with subtitle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header>
        <h1>
          <span headerText>Header H1</span>
          <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </h1>
      </app-ask-header>
      <app-ask-header>
        <h2>
          <span headerText>Header H2
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h2>
      </app-ask-header>
      <app-ask-header>
        <h3>
          <span headerText>Header H3
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h3>
      </app-ask-header>
      <app-ask-header>
        <h4>
          <span headerText>Header H4
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h4>
      </app-ask-header>
      <app-ask-header>
        <h5>
          <span headerText>Header H5
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h5>
      </app-ask-header>
      <app-ask-header>
        <h6>
          <span headerText>Header H6
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h6>
      </app-ask-header>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with icon</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header>
        <h1><span headerIcon><mat-icon header-icon>home</mat-icon></span>Header H1</h1>
      </app-ask-header>
      <app-ask-header>
        <h2><span headerIcon><mat-icon header-icon>home</mat-icon></span>Header H2</h2>
      </app-ask-header>
      <app-ask-header>
        <h6><span headerIcon><mat-icon header-icon>home</mat-icon></span>Header H6</h6>
      </app-ask-header>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with icon &amp; subtitle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header>
        <h1>
          <span headerIcon><mat-icon header-icon>home</mat-icon></span>
          <span headerText>Header H1
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h1>
      </app-ask-header>
      <app-ask-header>
        <h2>
          <span headerIcon><mat-icon header-icon>home</mat-icon></span>
          <span headerText>Header H2
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h2>
      </app-ask-header>
      <app-ask-header>
        <h6>
          <span headerIcon><mat-icon header-icon>home</mat-icon></span>
          <span headerText>Header H6
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h6>
      </app-ask-header>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with multiple icons &amp; subtitle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header>
        <h1>
          <span headerIcon>
            <mat-icon header-icon>home</mat-icon>
            <mat-icon header-icon>dns</mat-icon>
          </span>
          <span headerText>Header H1
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h1>
      </app-ask-header>
      <app-ask-header>
        <h2>
          <span headerIcon>
            <mat-icon header-icon>home</mat-icon>
            <mat-icon header-icon>dns</mat-icon>
          </span>
          <span headerText>Header H2
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h2>
      </app-ask-header>
      <app-ask-header>
        <h6>
          <span headerIcon>
            <mat-icon header-icon>home</mat-icon>
            <mat-icon header-icon>dns</mat-icon>
          </span>
          <span headerText>Header H6
            <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
          </span>
        </h6>
      </app-ask-header>
    </mat-card-content>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>No margin header</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <app-ask-header noMargin>
        <h1>
          <span headerIcon><mat-icon header-icon>home</mat-icon></span>
          <span headerText>Header H1
            <span headerSubtitle>Header which have less padding on the bottom</span>
          </span>
        </h1>
      </app-ask-header>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </mat-card-content>
  </mat-card>


</app-ask-view>
