<app-view-base>
  <ng-container header-title>Header</ng-container>
  <ng-container header-subtitle>Apploication header component</ng-container>
  <mat-icon header-icon>home</mat-icon>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <app-header level="{{i}}">
          <span headerTitle>App header H{{i}}</span>
        </app-header>
        <br />
      </ng-container>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with subtitle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <app-header level="{{i}}">
          <span headerTitle>App header H{{i}}</span>
          <span headerSubTitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </app-header>
        <br />
      </ng-container>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with icon</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <app-header level="{{i}}">
          <mat-icon header-icon>home</mat-icon>
          <span headerTitle>App header H{{i}}</span>
        </app-header>
        <br />
      </ng-container>
    </mat-card-content>
  </mat-card>

  <br />

  <mat-card>
    <mat-card-header>
      <mat-card-title>Headers with icon and subtitle</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <ng-container *ngFor="let i of [1,2,3,4,5,6]">
        <app-header level="{{i}}">
          <mat-icon header-icon>home</mat-icon>
          <span headerTitle>App header H{{i}}</span>
          <span headerSubTitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
        </app-header>
        <br />
      </ng-container>
    </mat-card-content>
  </mat-card>

</app-view-base>
