:host {
  display: block;

  ::ng-deep {
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;

      li {
        color: rgba(0, 0, 0, 0.6);
        line-height: 1.5em;

        strong {
          color: #000;
          font-weight: normal;
          min-width: 150px;
          display: inline-block;
        }
      }
    }
  }
}

:host([large]) {
  ::ng-deep {
    ul {
      li {
        strong {
          min-width: 250px;
        }
      }
    }
  }
}
