:host {

  .c-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0 5px;
  }

  ::ng-deep {
    $base-font: 32;

    @for $i from 0 through 6 {
      h#{$i} {
        font-size: #{$base-font - $i * 2}px;
        font-weight: normal;
        margin: 0;
        padding: 0;

        > p {
          display: block;
          color: rgba(0, 0, 0, 0.6);
          margin: 0;
          padding: 0;
          font-size: 14px;
        }
      }
    }

    mat-icon {
      @for $i from 0 through 6 {
        &.xc-header-icon-h#{$i} {
          $_size: #{$base-font - $i * 2}px;
          font-size: $_size;
          width: #{$base-font}px;
          height: $_size;

          padding-top: 2px;
          text-align: center;
        }
      }
    }
  }
}
