<div class="c-header">
  <div class="c-left-panel">
    <app-ask-header>
      <h1>
        <span headerIcon><ng-content select="> [viewHeaderIcon]"></ng-content></span>
        <span headerText><ng-content select="> [viewHeaderTitle]"></ng-content>
          <span headerSubtitle><ng-content select="> [viewHeaderSubtitle]"></ng-content></span>
        </span>
      </h1>
    </app-ask-header>
  </div>
  <div class="c-right-panel">
    <ng-content select="> [viewHeaderToolbar]"></ng-content>
  </div>
</div>
<div class="c-content">
  <ng-content></ng-content>
</div>

