<div class="c-header">
  <div class="c-left-panel">
    <app-ask-header level="1">
      <ng-container headerTitle><ng-content select="> [viewHeaderTitle]"></ng-content></ng-container>
      <ng-container headerSubTitle><ng-content select="> [viewHeaderSubtitle]"></ng-content></ng-container>
      <ng-container headerIcon><ng-content select="> [viewHeaderIcon]"></ng-content></ng-container>
    </app-ask-header>
  </div>
  <div class="c-right-panel">
    <ng-content select="> [viewHeaderToolbar]"></ng-content>
  </div>
</div>
<ng-content></ng-content>
