<app-ask-view>
  <ng-container viewHeaderTitle>Info panel component</ng-container>
  <ng-container viewHeaderSubtitle>A component which groups display of various information</ng-container>
  <mat-icon viewHeaderIcon>dataset</mat-icon>

  <app-ask-info-panel>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h1">home</mat-icon>
      <h1>Info panel H1
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h1>
    </app-ask-info-panel-header>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-properties class="xg-pad-bottom">
      <ul class="xc-large">
        <li><strong>Property A</strong>Value A</li>
        <li><strong>Property B</strong>Value B</li>
        <li><strong>Property C</strong>Value C</li>
      </ul>
    </app-ask-info-panel-properties>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h2">home</mat-icon>
      <h2>Info panel H2
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h2>
    </app-ask-info-panel-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h3">home</mat-icon>
      <h3>Info panel H3
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h3>
    </app-ask-info-panel-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h4">home</mat-icon>
      <h4>Info panel H4
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h4>
    </app-ask-info-panel-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h5">home</mat-icon>
      <h5>Info panel H5
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h5>
    </app-ask-info-panel-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-header>
      <mat-icon class="xc-header-icon-h6">home</mat-icon>
      <h6>Info panel H6
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h6>
    </app-ask-info-panel-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-menu>
      <section class="xc-group">
        <span class="xc-header">Basic actions</span>
        <ul>
          <li><a mat-button color="primary" href="https://www.google.com/" target="_blank">Important action</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action</a></li>
          <li><a mat-button color="warn" href="https://www.google.com/" target="_blank">Dangerous action</a></li>
        </ul>
      </section>

      <section class="xc-group">
        <span class="xc-header">Additional actions</span>
        <ul>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action A</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action B</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action C</a></li>
        </ul>
      </section>
    </app-ask-info-panel-menu>

  </app-ask-info-panel>

</app-ask-view>
