<app-view-base>
  <ng-container header-title>Info panel component</ng-container>
  <ng-container header-subtitle>A component which groups display of various information</ng-container>
  <mat-icon header-icon>dataset</mat-icon>

  <app-info-panel>

    <app-info-panel-header>
      <mat-icon headerIconH1>home</mat-icon>
      <h1>Info panel H1
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h1>
    </app-info-panel-header>

    <app-info-panel-header>
      <mat-icon headerIconH2>home</mat-icon>
      <h2>Info panel H2
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h2>
    </app-info-panel-header>

    <app-info-panel-header>
      <mat-icon headerIconH3>home</mat-icon>
      <h3>Info panel H3
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h3>
    </app-info-panel-header>

    <app-info-panel-header>
      <mat-icon headerIconH4>home</mat-icon>
      <h4>Info panel H4
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h4>
    </app-info-panel-header>

    <app-info-panel-header>
      <mat-icon headerIconH5>home</mat-icon>
      <h5>Info panel H5
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h5>
    </app-info-panel-header>

    <app-info-panel-header>
      <mat-icon headerIconH6>home</mat-icon>
      <h6>Info panel H6
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      </h6>
    </app-info-panel-header>

  </app-info-panel>

</app-view-base>
