<app-ask-view>
  <ng-container viewHeaderTitle>Info panel component</ng-container>
  <ng-container viewHeaderSubtitle>A component which groups display of various information</ng-container>
  <mat-icon viewHeaderIcon>dataset</mat-icon>

  <app-ask-info-panel>

    <app-ask-header level="1">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H1</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>
    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-info-panel-properties class="xg-pad-bottom">
      <ul class="xc-large">
        <li><strong>Property A</strong>Value A</li>
        <li><strong>Property B</strong>Value B</li>
        <li><strong>Property C</strong>Value C</li>
      </ul>
    </app-ask-info-panel-properties>

    <app-ask-header level="2">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H2</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-header level="3">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H3</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-header level="4">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H4</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-header level="5">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H5</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>

    <app-ask-header level="6">
      <mat-icon headerIcon>dataset</mat-icon>
      <span headerTitle>Info Panel H6</span>
      <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
    </app-ask-header>

    <p>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
      type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      of Lorem Ipsum.
    </p>


    <app-ask-info-panel-section>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Content wrapped in section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>

      <app-ask-header level="2">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Second level section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>

    <app-ask-info-panel-section borderLess>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Border less content wrapped in section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>

    <app-ask-info-panel-section borderAccent>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Border accent content wrapped in section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>

    <app-ask-info-panel-section informative>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Informative section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>

    <app-ask-info-panel-section dangerous>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Dangerous section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>

    <app-ask-info-panel-section disabled>
      <app-ask-header level="1">
        <mat-icon headerIcon>dataset</mat-icon>
        <span headerTitle>Disabled section</span>
        <span headerSubtitle>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
      </app-ask-header>

      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a
        type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
        of Lorem Ipsum.
      </p>
    </app-ask-info-panel-section>


    <app-ask-info-panel-menu>
      <section class="xc-group">
        <span class="xc-header">Basic actions</span>
        <ul>
          <li><a mat-button color="primary" href="https://www.google.com/" target="_blank">Important action</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action</a></li>
          <li><a mat-button color="warn" href="https://www.google.com/" target="_blank">Dangerous action</a></li>
        </ul>
      </section>

      <section class="xc-group">
        <span class="xc-header">Additional actions</span>
        <ul>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action A</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action B</a></li>
          <li><a mat-button href="https://www.google.com/" target="_blank">Some action C</a></li>
        </ul>
      </section>
    </app-ask-info-panel-menu>

  </app-ask-info-panel>

</app-ask-view>
