<app-ask-view>
  <span viewHeaderTitle>Property List Component</span>
  <section>
    <h1>Default list</h1>
    <app-ask-property-list>
      <ul>
        <li><strong>Property A:</strong> Value A</li>
        <li><strong>Property B:</strong> Value B</li>
        <li><strong>Property C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

  <section>
    <h1>Very Small list</h1>
    <app-ask-property-list xSmall>
      <ul>
        <li><strong>A:</strong> Value A</li>
        <li><strong>B:</strong> Value B</li>
        <li><strong>C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

  <section>
    <h1>Small list</h1>
    <app-ask-property-list small>
      <ul>
        <li><strong>Prop. A:</strong> Value A</li>
        <li><strong>Prop. B:</strong> Value B</li>
        <li><strong>Prop. C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

  <section>
    <h1>Large list</h1>
    <app-ask-property-list large>
      <ul>
        <li><strong>Property A:</strong> Value A</li>
        <li><strong>Property B:</strong> Value B</li>
        <li><strong>Property C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

  <section>
    <h1>Very Large list</h1>
    <app-ask-property-list xLarge>
      <ul>
        <li><strong>Property A:</strong> Value A</li>
        <li><strong>Property B:</strong> Value B</li>
        <li><strong>Property C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

  <section>
    <h1>No coloring</h1>
    <app-ask-property-list noColoring>
      <ul>
        <li><strong>Property A:</strong> Value A</li>
        <li><strong>Property B:</strong> Value B</li>
        <li><strong>Property C:</strong> Value C</li>
      </ul>
    </app-ask-property-list>
  </section>

</app-ask-view>
