:host {
  $baseFontSize: 28;

  .c-root {
    padding: 0 0 20px 0;
  }

  ::ng-deep {
    @for $i from 0 through 6 {
      $_size: #{$baseFontSize - $i * 2}px;

      h#{$i} {
        display: flex;
        flex-direction: row;
        justify-content: left;

        margin: 0;
        padding: 0;

        font-size: $_size;
        font-weight: normal;

        mat-icon {
          font-size: $_size;
          width: #{$baseFontSize}px;
          height: $_size;
          text-align: center;
        }

        [headerIcon] {
          padding-right: 5px;
        }

        [headerText] {
          display: flex;
          flex-direction: column;
        }

        [headerSubtitle] {
          font-size: 14px;
          color: rgba(0, 0, 0, 0.6);
        }
      }
    }

  }
}
