:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0 50px;

  .c-left {
    display: flex;
    flex-direction: column;
    gap: 25px 0;
  }

  .c-right {
    min-width: 250px;
  }
}
