<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <app-menu>
      <a *appMenuItem mat-flat-button [routerLink]="['/']"><mat-icon>home</mat-icon>Home</a>
      <a *appMenuItem mat-flat-button [routerLink]="['/components/header']"><mat-icon>dataset</mat-icon>Header</a>
      <a *appMenuItem mat-flat-button [routerLink]="['/components/info-panel']"><mat-icon>dataset</mat-icon>Info Panel</a>
      <a *appMenuItem mat-flat-button [routerLink]="['/components/card']"><mat-icon>dataset</mat-icon>Ask Card</a>
      <a *appMenuItem mat-flat-button [routerLink]="['/components/ext/expansion-panel']"><mat-icon>dataset</mat-icon>Ext.: Expansion panel</a>
    </app-menu>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
