:host {

  .c-root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 50px 0;
  }

  ::ng-deep {

    [menuSection] {
      padding: 10px;

      [menuHeader] {
        display: block;
        padding-bottom: 10px;
        font-size: 1.1em;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          a {
            width: 100%;
            justify-content: flex-start;
          }

          padding-bottom: 2px;
        }
      }
    }

    [bordered] {
      border: 1px solid rgba($color: #000000, $alpha: 0.2);
      border-radius: 4px;
      padding: 9px;
    }
  }
}
