<mat-card>
  <mat-card-header>
    <mat-card-title><ng-content select="> [cardTitle]"></ng-content></mat-card-title>
    <mat-card-subtitle><ng-content select="> [cardSubtitle]"></ng-content></mat-card-subtitle>
    <div toolbar>
      <ng-content select="> [cardToolbar]"></ng-content>
      <button *ngIf="loadable" mat-icon-button (click)="onCardLoadAction()">
        <mat-icon>refresh</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-content></ng-content>
  </mat-card-content>
  <mat-card-footer>
    <ng-container *ngIf="loadable">
      <span [hidden]="state !== AskCardState.LOADING"><mat-progress-bar mode="indeterminate" ></mat-progress-bar></span>
    </ng-container>
  </mat-card-footer>
</mat-card>
