@use '@angular/material' as mat;
@include mat.core();

@mixin _styled($bgColor, $borderSize) {
  .c-root {
    border: #{$borderSize}px solid rgba($color: $bgColor, $alpha: 0.2);
    background-color: rgba($color: $bgColor, $alpha: 0.1);
    padding: #{10 - $borderSize + 1}px;
  }
}

:host {
  @include _styled(#000, 1);
  .c-root {
    border-radius: 4px;
    background-color: inherit;
  }
}

:host([borderLess]) {
  @include _styled(#000, 0);
  .c-root {
    background-color: inherit;
  }
}

:host([borderAccent]) {
  @include _styled(#000, 2);
  .c-root {
    background-color: inherit;
  }
}

:host([informative]) {
  @include _styled(#3f51b5, 1);
}

:host([dangerous]) {
  @include _styled(#f44336, 1);
}

:host([disabled]) {
  @include _styled(#6b6b6b, 1);
}
